<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">Eventos</a>
                <ul id="nav-mobile" class="left">
                    <li><a href="/cadastro"><i class="material-icons left">add_circle_outline</i>Novo evento</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>